Repository opentdf/nifi, changes with the owners that CODEOWNERS names for each.
All owners: @opentdf/opentdf-nifi, @opentdf/architecture, @opentdf/security

CODEOWNERS:

# CODEOWNERS

* @opentdf/opentdf-nifi @opentdf/architecture

## General

*pom.xml       @opentdf/architecture @opentdf/security

## High Security Area

CODEOWNERS     @opentdf/architecture @opentdf/security
LICENSE        @opentdf/architecture

chore: add dco config and CONTRIBUTING.md
  .github/dco.yaml
  CONTRIBUTING.md
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

chore: add dco config and CONTRIBUTING.md (#48)
  .github/dco.yaml
  CONTRIBUTING.md
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

chore: rename dco.yaml to dco.yml
  .github/dco.yml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

chore: rename dco.yaml to dco.yml (#49)
  .github/dco.yml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

fix(sdk): update opentdf java sdk to 0.7.9
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertFromZTDF.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertToZTDF.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertToZTDFTest.java
  pom.xml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture, @opentdf/security

fix compilation error
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertToZTDFTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

fix and update test
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertFromZTDFTest.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertToZTDFTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

fix and update test (#52)
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertFromZTDFTest.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertToZTDFTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

handle interrupted exception
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertFromZTDF.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

feat: Add initial Dependency Review configuration
  .github/workflows/dependency-review.yaml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

update for docker for latest 1.x
  .gitignore
  Makefile
  README.md
  docker-compose.yaml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

chore: update docker compose quickstart (#54)
  .gitignore
  Makefile
  README.md
  docker-compose.yaml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

fix mocking
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertFromZTDFTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

fix(sdk): update opentdf java sdk to 0.7.9 (#51)
  .gitignore
  Makefile
  README.md
  docker-compose.yaml
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertFromZTDF.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertToZTDF.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertFromZTDFTest.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertToZTDFTest.java
  pom.xml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture, @opentdf/security

feat: Add initial Dependency Review configuration (#53)
  .github/workflows/dependency-review.yaml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

chore(ci): remove sonar scans
  .github/workflows/checks.yaml
  pom.xml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture, @opentdf/security

Update pom.xml
  pom.xml
Owners: @opentdf/architecture, @opentdf/security

chore(ci): remove sonar scans (#58)
  .github/workflows/checks.yaml
  pom.xml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture, @opentdf/security

chore: remove nanotdf support
  CHANGELOG.md
  README.md
  deploy/Example_ZTDF_NanoTDF.xml
  docs/diagrams/generic_nanotdf_nifi_flows.mmd
  docs/diagrams/generic_nanotdf_nifi_flows.svg
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/AbstractTDFProcessor.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertFromNanoTDF.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertToNanoTDF.java
  nifi-tdf-processors/src/main/resources/META-INF/services/org.apache.nifi.processor.Processor
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertFromNanoTDFTest.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertToNanoTDFTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

chore: remove nanotdf support (#61)
  CHANGELOG.md
  README.md
  deploy/Example_ZTDF_NanoTDF.xml
  docs/diagrams/generic_nanotdf_nifi_flows.mmd
  docs/diagrams/generic_nanotdf_nifi_flows.svg
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/AbstractTDFProcessor.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertFromNanoTDF.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertToNanoTDF.java
  nifi-tdf-processors/src/main/resources/META-INF/services/org.apache.nifi.processor.Processor
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertFromNanoTDFTest.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ConvertToNanoTDFTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

feat: NiFi 2.x upgrade, ABAC enforcement processor, and passthrough mode
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ABACEnforcement.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/AbstractTDFProcessor.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/AbstractToProcessor.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertToZTDF.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/SimpleOpenTDFControllerService.java
  nifi-tdf-processors/src/main/resources/META-INF/services/org.apache.nifi.processor.Processor
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/Utils.java
  pom.xml
Owners: @opentdf/opentdf-nifi, @opentdf/architecture, @opentdf/security

fix: validate non-empty resource FQNs and evaluate ENVIRONMENT expressions
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ABACEnforcement.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/AbstractTDFProcessor.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

fix(test): add nifi-security-utils-api to resolve TlsConfiguration ClassNotFoundException
  nifi-tdf-processors/pom.xml
Owners: @opentdf/architecture, @opentdf/security

docs: fix copy-paste Javadoc on ENABLE_ENCRYPTION property
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ConvertToZTDF.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

feat: add ParseJREAPC processor for JREAP-C binary protocol parsing
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ParseJREAPC.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ParseJREAPCTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

fix(test): declare IOException on assertContentEquals test method
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ParseJREAPCTest.java
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

docs: update README for NiFi 2.x, ParseJREAPC, and ABACEnforcement
  README.md
Owners: @opentdf/opentdf-nifi, @opentdf/architecture

refactor: move ParseJREAPC to dedicated nifi-jreapc-processors module
  nifi-jreapc-nar/pom.xml
  nifi-jreapc-processors/pom.xml
  nifi-jreapc-processors/src/main/java/io/opentdf/nifi/ParseJREAPC.java
  nifi-jreapc-processors/src/main/resources/META-INF/services/org.apache.nifi.processor.Processor
  nifi-jreapc-processors/src/test/java/io/opentdf/nifi/ParseJREAPCTest.java
  nifi-tdf-processors/src/main/java/io/opentdf/nifi/ABACEnforcement.java
  nifi-tdf-processors/src/main/resources/META-INF/services/org.apache.nifi.processor.Processor
  pom.xml
Owners: @opentdf/architecture, @opentdf/security, @opentdf/opentdf-nifi

test: add ABACEnforcement unit tests and JREAP-C pipeline integration tests
  nifi-tdf-processors/pom.xml
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/ABACEnforcementTest.java
  nifi-tdf-processors/src/test/java/io/opentdf/nifi/JREAPCPipelineTest.java
Owners: @opentdf/architecture, @opentdf/security, @opentdf/opentdf-nifi

docs: fix ParseJREAPC module path and add Testing section to README
  README.md
Owners: @opentdf/opentdf-nifi, @opentdf/architecture
